*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 800px;
    height: 500px;
    background-color: green;
}
.game-box{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: 5px solid red;
    text-align: center;
}
.result{
    width: 300px;
    height: 100px;
    background-color: red;
    border: 5px solid blue;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    line-height: 100px;
}
